<div class="jumbotron">
  <img width="300" src="assets/dave.jpg" alt="Dave">
  <h1 class="display-3 mb-5">David Weight</h1>
  <article>
    This website was co-designed and submitted by David Weight - 21930719. David is currently in his third year of a Bachelor
    of Science(Quantitative Methods and Data Science) at the University of Western Australia.
    <br /> This semester he is studying-
    <ul>
      <li>
        <a href="http://handbooks.uwa.edu.au/unitdetails?code=CITS3401" target="_blank">CITS3401</a> - Data Warehousing
        <li>
          <a href="http://handbooks.uwa.edu.au/unitdetails?code=CITS3403" target="_blank">CITS3403</a> - Agile Web Development
          <li>
            <a href="http://handbooks.uwa.edu.au/unitdetails?code=STAT3401" target="_blank">STAT3401</a> - Advanced Data Analysis
            <li>
              <a href="http://handbooks.uwa.edu.au/unitdetails?code=STAT3405" target="_blank">STAT3405</a> - Introduction to Bayesian Computing and Statistics
    </ul>
    He is currently working casually for the
    <a href="http://ozgrav.org" target="_blank">OzGrav</a> group here at UWA. His role is using programming and statistical methods to further improve our processes
    used to detect Gravitational waves.
  </article>
</div>