<div class="jumbotron">
    <img width="300" src="assets/angus.png" alt="Angus">
    <h1 class="display-3 mb-5">Angus Wylie</h1>
    <article>
      This website was co-designed and submitted by Angus Wylie - 21962246. Angus is currently in his second year of mathematic and computer science at the University of Western Australia.
      <br /> This semester he is studying-
      <ul>
        <li>
          <a href="http://handbooks.uwa.edu.au/unitdetails?code=CITS3403" target="_blank">CITS3403</a> - Agile Web Developement
          <li>
            <a href="http://handbooks.uwa.edu.au/unitdetails?code=CITS2200" target="_blank">CITS2200</a> - Data Structures and Algorithms
            <li>
              <a href="http://handbooks.uwa.edu.au/unitdetails?code=MATH2031" target="_blank">MATH2031</a> - Introduction to Pure Mathematics
              <li>
                <a href="http://handbooks.uwa.edu.au/unitdetails?code=FINA2204" target="_blank">FINA2204</a> - Derivative Products and Markets
      </ul>
      He hopes to graduate UWA and pursure postgraduate studies in finance, data science or computer science.
    </article>
  </div>