<div class="jumbotron">
    <h1 class="display-3 mb-5">Architecture</h1>
    <ul>
      <li>We used MongoDB as our database with mongoose to model the data schemas</li>
      <li>Express was used as our backend framework for Node.js</li>
  
      <li>For our front end we decided to learn Angular 6 to allow for asynchronous usage in the front end (Live graphs, chat)
      </li>
      <li>Bootstrap was used to provide clean layout to the front end html</li>
    </ul>
  
    <h1 class="display-3 mb-5">Problems</h1>
    <ul>
      <li>Creating a back end was quite easy with many web tutorials helping us along the way</li>
      <li>The real challenge was learning Angular 6, at first it is quite daunting to know what Components and Services even mean</li>
      <li>The biggest and most frustrating issue was connecting front to back. Although there are many tutorials for Angular alone
        and for creating a MEAN stack app with AngularJS there didn't seem to be as much information for using Angular 6 to
        connect to MongoDB</li>
      <li>However over time it became easier to understand how a component can call a service which in turn links through a backend
        route to a Model and gets/puts/posts the data</li>
    </ul>
  
    <h1 class="display-3 mb-5">Design</h1>
    <ul>
      <li>We chose bootstrap for our css to allow for multiple browser and screen size support</li>
      <li>We also kept the design rather basic so the app had a focus on features rather than 'bling'. And given our app is UWA themed the primary colour choice seemed very fitting</li>
      <li>Once we had a full grasp of Angular the design choice became quite easy</li>
      <li>We decided to separate the games section from the votes section so we could both work on our own components autonomously</li>
      <li>By allowing admin access we broadened the scope of the project by allowing someone to actually manage the site and pick
        the way forward</li>
      <li>We wanted something reactive and interesting to look at for the graph so we used a Pusher tutorial to create our own live poll which updates in the backend</li>
      <li>We tried to keep the functional component (Dashboard) of the Website sleek and easyto use. So we used Bootstrap cards and Angular *ngFor loops to modularise and display the data and make it easy to read </li>
    </ul>
  </div>