<h2 class="mb-3">Edit Profile</h2>

<div *ngIf="!isEdit" class="card card-body mb-3">
  <ul class="list-group mb-3">
    <h3>{{user?.username}}</h3>
    <li class="list-group">First Name: {{user?.firstName}}</li>
    <li class="list-group">Last Name: {{user?.lastName}}</li>
    <li class="list-group">Email: {{user?.email}}</li>
    <li class="list-group">Date Registered: {{user?.date | date:'dd-MM-yyyy HH:mm:ss'}}</li>
    <li *ngIf="user?.age" class="list-group">Age: {{user?.age}}</li>
    <li *ngIf="user?.university" class="list-group">University: {{user?.university}}</li>
    <li *ngIf="!user?.interests" class="list-group">Interests: Please enter interests by editing profile</li>
    <li *ngIf="user?.interests" class="list-group">Interests: {{user?.interests.length}}</li>
  </ul>
  <button *ngIf="!isEdit" (click)="editProfile()" class="btn btn-dark btn-block">Edit Profile</button>
</div>

<div *ngIf="isEdit" class="card card-body mb-3">
  <h3>{{user?.username}}</h3>
  <form (submit)="updateProfile()">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" [(ngModel)]="user.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" [(ngModel)]="user.email" name="email">
    </div>

    <div class="form-group">
      <label class="mr-3 mt-3">University:</label>
      <select [(ngModel)]="user.university" name="university" id="university">
        <option *ngFor="let uni of universities" [value]="uni">{{uni}}</option>
      </select>
    </div>

    <label class="checkbox-inline">Basketball
        <input type="checkbox" [(ngModel)]="user.interest.basketball" [id]="sport" name="sports">
      </label>
      <label class="checkbox-inline">Baseball
          <input type="checkbox" [(ngModel)]="user.interest.baseball" [id]="sport" name="sports" ng-true-value="'Baseball'">
        </label>

    <input type="hidden" [(ngModel)]="user.id" name="id">
    <button type="submit" class="btn btn-success btn-block">Save Profile</button>
  </form>
</div>