<div class="outer">
  <h2 class="mb-3">Edit Profile</h2>
  <!-- Displays current users details -->
  <div *ngIf="!isEdit && user" class="card card-body mb-3">
    <ul class="list-group mb-3">
      <h3>{{user?.username}}</h3>
      <li class="list-group">First Name: {{user?.firstName}}</li>
      <li class="list-group">Last Name: {{user?.lastName}}</li>
      <li class="list-group">Email: {{user?.email}}</li>
      <li class="list-group">Date Registered: {{user?.date | date:'dd-MM-yyyy HH:mm:ss'}}</li>
      <li *ngIf="user?.age" class="list-group">Age: {{user?.age}}</li>
      <li *ngIf="user?.university" class="list-group">University: {{user?.university}}</li>
      <li class="list-group">Interests:</li>
      <li class="list-group">{{getInterests(user.interests)}}</li>
    </ul>
    <button *ngIf="!isEdit" (click)="editProfile()" class="btn btn-dark btn-block">Edit Profile</button>
  </div>

  <!-- If Edit is clicked view becomes form for editing -->
  <div *ngIf="isEdit" class="card card-body mb-3">
    <h3>{{user?.username}}</h3>
    <form (submit)="updateProfile()">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" [(ngModel)]="user.firstName" name="firstName">
      </div>

      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName">
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" [(ngModel)]="user.email" name="email">
      </div>

      <div class="form-group">
        <label class="mr-3 mt-3">University:</label>
        <select [(ngModel)]="user.university" name="university" id="university">
          <option *ngFor="let uni of universities" [value]="uni">{{uni}}</option>
        </select>
      </div>

      <label class="checkbox-inline">
        <input class="mr-2" type="checkbox" [(ngModel)]="user.interests.basketball" name="basketball"> Basketball
      </label>
      <label class="checkbox-inline ml-3">
        <input class="mr-2" type="checkbox" [(ngModel)]="user.interests.baseball" name="baseball"> Baseball
      </label>
      <label class="checkbox-inline ml-3">
        <input class="mr-2" type="checkbox" [(ngModel)]="user.interests.cricket" name="cricket"> Cricket
      </label>
      <label class="checkbox-inline ml-3">
        <input class="mr-2" type="checkbox" [(ngModel)]="user.interests.softball" name="softball"> Softball
      </label>
      <label class="checkbox-inline ml-3">
        <input class="mr-2" type="checkbox" [(ngModel)]="user.interests.netball" name="netball"> Netball
      </label>
      <label class="checkbox-inline ml-3">
        <input class="mr-2" type="checkbox" [(ngModel)]="user.interests.soccer" name="soccer"> Soccer
      </label>
      <label class="checkbox-inline ml-3">
        <input type="checkbox" [(ngModel)]="user.interests.afl" name="afl"> AFL
      </label>

      <input type="hidden" [(ngModel)]="user.id" name="id">
      <button type="submit" class="btn btn-success btn-block">Save Profile</button>

    </form>
  </div>
</div>