<!-- User voting section -->
<div class="user" *ngIf="user && !user.isAdmin">
  <div class="container">
    <h2 *ngIf="!voted">Vote for your favourite idea</h2>
    <ul *ngIf="!voted">
      <li *ngFor="let idea of ideaData">
        <h4>{{idea.name}}</h4>
        <p>{{idea.description}}</p>
        <button type="button" class="btn btn-dark btn-lg" (click)="castVote(idea.shortName)">Vote!</button>
      </li>
    </ul>
    <div class="chart-box mb-5 mt-5" *ngIf="voted">
      <h2>How others voted</h2>
      <canvas baseChart [data]="chartData" [labels]="chartLabels" [chartType]="chartType">
      </canvas>
    </div>
  </div>

  <!-- User add fundraiser section -->
  <div class="jumbotron user">
    <h2 *ngIf="!submitted" class="page-header mb-5 text-center">Suggest a new Fundraising Idea</h2>
    <h2 *ngIf="submitted" class="page-header mb-5 text-center">Thanks for your submission!</h2>
    <form *ngIf="!submitted" (submit)="onNewIdeaSubmit()">
      <div class="form-group mb-3 text-left">
        <label>Name of Fundraising Idea</label>
        <input type="text" [(ngModel)]="newIdeaName" name="newIdeaName" class="form-control">
      </div>
      <div class="form-group mb-5 text-left">
        <label>Short Description</label>
        <input type="text" [(ngModel)]="newIdeaDescription" name="newIdeaDescription" class="form-control">
      </div>

      <input type="submit" class="btn btn-block btn-success mt-3" value="Submit">
      <input type="reset" class="btn btn-block btn-danger mt-3" value="Reset">

    </form>
  </div>
</div>

<!-- Admin create new vote section -->
<div class="admin" *ngIf="user && user.isAdmin">
  <div class="mb-5">
    <input type="button" class="btn btn-block btn-warning mt-3 p-4" value="Current Votes" (click)="showCurrentVote()">
    <input type="button" class="btn btn-block btn-primary mt-3 p-4" value="New Vote" (click)="showNewVote()">
  </div>

  <div class="current-votes" *ngIf="showCurrentVotes">
    <div class="chart-box mb-5 mt-5 text-center">
      <h1 class="mb-5">Current Votes</h1>
      <ul>
        <li *ngFor="let idea of ideaData">
          <h4>{{idea.name}}</h4>
          <p style="font-size: large">{{idea.description}}</p>
          <p class="votes font-weight-bold">{{idea.votes}}</p>
        </li>
      </ul>
    </div>

    <!-- Admin view current vote section -->
    <div class="card mb-2" *ngFor="let currentIdea of ideaData">
      <div class="card-body">
        <h3>{{currentIdea.name}}</h3>
        <p class="font-weight-bold">Short Name: {{currentIdea.shortName}}</p>
        <p>{{currentIdea.description}}</p>
        <hr>
        <button (click)="removeCurrentIdea(currentIdea)" class="btn btn-danger mr-2">
          <i class="fa fa-remove p-2"></i>Delete
        </button>
        <button (click)="resetVotes(currentIdea)" class="btn btn-success">
          <i class="fa fa-refresh p-2"></i>Reset Votes
        </button>
      </div>
    </div>
  </div>

  <div class="new-votes" *ngIf="showNewVotes">
    <h1 class="mb-5 text-center">Prepare a new Vote</h1>
    <div class="jumbotron">
      <h2 class="page-header mb-5 text-center">Add Fundraising Idea to Vote</h2>
      <form (submit)="onVotingIdeaSubmit()">
        <div class="form-group mb-3 text-left">
          <label>Name of Fundraising Idea</label>
          <input type="text" [(ngModel)]="currentEditIdeaName" name="currentEditIdeaName" class="form-control">
        </div>
        <div class="form-group mb-3 text-left">
          <label>Short Name for Voting</label>
          <input type="text" [(ngModel)]="currentEditIdeaShortName" name="currentEditIdeaShortName" class="form-control">
        </div>
        <div class="form-group mb-5 text-left">
          <label>Short Description</label>
          <input type="text" [(ngModel)]="currentEditIdeaDescription" name="currentEditIdeaDescription" class="form-control">
        </div>

        <input type="submit" class="btn btn-block btn-success mt-3" value="Submit">
        <input type="reset" class="btn btn-block btn-danger mt-3" value="Reset">

      </form>
    </div>

    <!-- Admin view current idea section -->
    <div class="card mb-2" *ngFor="let idea of allIdeas">
      <div class="card-body">
        <h3>{{idea.name}}</h3>
        <p>{{idea.description}}</p>
        <hr>
        <button (click)="removeIdea(idea)" class="btn btn-danger mr-2">
          <i class="fa fa-remove"></i>
        </button>
        <button (click)="editIdea(idea)" class="btn btn-success">
          <i class="fa fa-pencil"></i>
        </button>
      </div>
    </div>
  </div>
</div>