.container {
  width: 60%;
  margin: auto;
  text-align: center;
}

.form-group{
  width:100%;
}
 
ul {
  margin-top: 50px;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

li {
padding: 20px;
border-style: ridge;
margin-right: 20px;
}

h4 {
  font-size: 20px;
  opacity: 0.9;
  margin-bottom: 8px;
  font-weight: bold;
  height: 50px;
}

p {
  font-size: 14px;
  opacity: 0.6;
  font-weight: lighter;
  margin: 4px 0;
}

h4 + p{
  height: 60%;
}

li button{
  margin-bottom: 100px;
}

.chart-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
    
.user{
  margin-bottom: 150px;
  margin-top: 50px;
}

.admin{
  margin-bottom: 150px;
}

.admin ul{
  margin-top: 0px;
  height: 300px;
}

.votes{
  font-size: xx-large
}
  